  <footer id="footer">
    <nav>
      <ul>
        <li>Theme by <span><a href="https://github.com/jeblister/kube">Kube</a></span></li>
        <li>
          <a href="//github.com/ysicing">Github</a>
        </li>
        <li>
          <a href="//web.spanda.io">Project</a>
        </li>
          <li>
          <a href="//docs.spanda.io/">Docs</a>
        </li>
        <li>
          <a href="https://twitter.com/{{.Site.Params.twitter}}">Twitter!</a>
        </li>
      </ul>
    </nav>
    <p>&copy; Licence MIT.</p>
  </footer>